{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>
    {% for list in listings %}
        <div style="margin-bottom:2em" >
            <div>
                <img src="{{ list.image }}" width=150px>
            </div>
            <div>
                title: <a href="{% url 'listing' list.id %}">{{ list.title }}</a><br>
                description: {{ list.description }}
            </div>
            
        </div>
    {% empty %}
        <div>No listings</div>
    {% endfor %}
    </div>
{% endblock %}