{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <h2>{{ listing.title }} </h2>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing" value="{{listing.id}}">
            <input type="submit" value="Add to watchlist">
        </form>
    </div>

    <div>
        <div>
            <img src="{{ listing.image }}">
        </div>
        <div>
            <ul>
                <li>Description: {{ listing.description }}</li>
                <li>Categories: {{ listing.cat.all }}</li>
                <li>Start bid: {{ listing.startbid }}</li>
                <li>Current Bid: {{ bid.bid }}</li>
                <li>Closed: {{ listing.closed }}</li>
            </ul>
        </div>
        <div>
            

            {% if listing.closed is False %}
                <form action="{% url 'submit' %}" method="post">
                    {% csrf_token %}
                    {{ bid_form }}
                    <input type="submit" value="Submit bid">
                </form>

                <form action="{% url 'close' %}" method="post">
                    {% csrf_token %}
                    {{ close_form }}    
                    <input type="submit" value="Close this listing">
                </form>

            {% endif %}
        </div>
        <div>
            <h3>Comment</h3>
            {% for item in comments %}
            <li>{{ item.content}} <br> Posted by: {{item.user.username}}</li>
            {% empty %}
            <li>No comments</li>
            {% endfor %}
            <form action="{% url 'post' %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Post">
            </form>


        </div>
    </div>
{% endblock %}