{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {% if listing.closed is True and listing.won_by == user %}
        <div> You won!</div>
        {% endif%}
        <h2>{{ listing.title }} </h2>
        {% if user.is_authenticated %}
            {% if listing in user.watchlist.all %}
                <form method="POST" action="{% url 'delete' %}">
                    {% csrf_token %}
                    <input type="hidden" name="listing" value="{{listing.id}}">
                    <input type="submit" value="Remove from watchlist">
                </form>
            {% else %}
                <form action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing" value="{{listing.id}}">
                    <input type="submit" value="Add to watchlist">
                </form>
            {% endif %}
        {% endif %}
    </div>

    <div>
        <div>
            <img src="{{ listing.image }}" >
        </div>
        <div>
            <ul>
                <li>Description: {{ listing.description }}</li>
                <li>Categories: 
                    {% for cat in listing.cat.all %}
                        {% if forloop.last is False %}
                            {{ cat.name }}, 
                        {% else %}
                            {{ cat.name }}
                        {% endif %}
                        
                    {% empty %}
                        None
                    {% endfor %}</li>
                <li>Start bid: {{ listing.startbid }}</li>
                <li>Current Bid: {{ bid.bid }}</li>
                <li>Closed: {{ listing.closed }}</li>
            </ul>
        </div>
        <div>
            

            {% if listing.closed is False and user.is_authenticated %}
                <form action="{% url 'submit' %}" method="post">
                    {% csrf_token %}
                    {{ bid_form }}
                    <input type="submit" value="Submit bid">
                </form>

                {% if listing.created_by == user %}
                    <form action="{% url 'close' %}" method="post">
                        {% csrf_token %}
                        {{ close_form }}    
                        <input type="submit" value="Close this listing">
                    </form>
                {% endif %}

            {% endif %}
        </div>
        <div>
            <h3>Comment</h3>
            {% for item in comments %}
            <li>{{ item.content}} <br> Posted by: {{item.user.username}}</li>
            {% empty %}
            <li>No comments</li>
            {% endfor %}
            {% if user.is_authenticated %}
                <form action="{% url 'post' %}" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Post">
                </form>
            {% endif %}


        </div>
    </div>
{% endblock %}