{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div>
        <form method="POST" action="{% url 'delete' %}">
            {% csrf_token %}
            {% for item in list %}
                <input type="radio" name="listing" id="{{ item.title }}" value="{{ item.id }}">
                <label for="{{ item.title }}"><a href="{% url 'listing' item.id %}">{{ item.title }}</a></label>
                {% if forloop.last %}
                <input type="submit" value="Remove from watchlist">
                {% endif %}
            {% empty %}
                No watchlist
            {% endfor %}
        </form>
    </div>
{% endblock %}